leo*{
    box-sizing: border-box;

}

.login{
    color: #111;
    font-size: 13px;
    font-family: Arial, sans-serif;
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.login_logo{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.login_logo > img{
    width: 200px;
}

.login_container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.1 );
    border:1px solid lightgray;
    padding: 15px;
}

.login_container > form > input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    outline: none;
    width: 98%;
    border: 1px solid gray;
}

.login_container > form > input:focus{
    border: 2px solid orange;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2 ); 
}

.login_container > p{
    margin-top: 15px;
    font-size: 12px;
    justify-content: justify;
}

a.int{
    cursor: pointer;
    color: #1167b1;
    text-decoration: none;
}

a.int:hover{
    color: #f3ce74;
    text-decoration:underline ;
}

.login_signinButton{
    width: 100px;
    height: 30px;
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: #f8A87E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100% );
    border-radius: 2px;
    width: 100%;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #046a29;
}
.second-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    border: none;
    border: #111;
    border-radius: 3px;
    font-weight: 500;
    text-align: center;
    width: 340px;
    font-family: arial, sans-serif;
    font-size: 16px;
}

.second-btn:hover {
    background: rgba(239, 242, 245, 0.882);
}


.second-btn:active {
    border-color: #a88734 #9c7e31 #046a29;
}


.second-btn:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
}

.see{
    display: flex;
    flex-direction: column;
    align-items: center;    
}








